=adjust-location($x, $y)
  @if unitless($x)
    @warn 'Assuming #{$x} to be in pixels'
    $x: 1px * $x

  @if unitless($y)
    @warn 'Assuming #{$y} to be in pixels'
    $y: 1px * $y
  position: relative
  left: $x
  top: $y

=transition($x)
  -webkit-transition: $x
  -moz-transition: $x
  -o-transition: $x
  transition: $x

=sexy-border($color, $width: 1in)
  border:
    color: $color
    width: $width
    style: double

=colors($text, $background, $border)
  color: $text
  background-color: $background
  border-color: $border

=margin-sides($margin-top-side: 9px, $margin-bottom-side: 4px, $margin-horizontal-sides: 2px)
  margin-top: $margin-top-side
  margin-bottom: $margin-bottom-side
  margin-left: $margin-horizontal-sides
  margin-right: $margin-horizontal-sides
  @content
  


