doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title SASS App
    link(rel='stylesheet', type='text/css', href='../styles/index1.css')
    link(rel='stylesheet', type='text/css', href='../styles/index2.css')
    script(type='text/javascript', src='index.js')

  body
    //-Testing nested parameters
    div(class='first-block')
      h2 Nested parameters
      ol
        li First issue
        li Second issue
        li Third issue
        li Fourth issue
    section
      h3 First section for styling
    section
      h3 Second section for styling
    div(class='second-block')
      h3 Second block
