@import url('https://fonts.googleapis.com/css?family=Titillium+Web|Ubuntu')
@import 'import/imported1', 'import/imported2', 'import/flexbox', 'import/media-quaries'
@import 'partials/variables'
@import 'partials/mixins'

body, html
  font-family: 'Titillium Web', sans-serif
  font-size: 20px

main
  margin: 10px 20px
  body: 10px 20px

button
  padding: 10px 25px
  background: linear-gradient(to bottom, #cc00cc, #993399)
  color: #fff
  text-align: center
  margin: 0 10px
  float: left
  border: none
  cursor: pointer
  border: 4px solid #fff
  transition: all .1s linear
  outline: none

  &:hover
    border-color: #993399

.clicked
  background: linear-gradient(to bottom, #00cc00, #009900)

section
  height: 30%
  padding: 20px
  margin: 20px

  &:nth-child(2)
    $bor-con: 5px solid $section-border !global
    border: $bor-con

  &:nth-child(1)
    $border: $bor-con

@mixin firefox-message($selector)
  body #{selector}:before
    content: 'Hi, Firefox users!'
    background-color: $firefox-back
    color: #ffffff
    font-weight: 600
    text-align: center
    font-size: 22px

@include firefox-message('.second-block')
$class-name: new-class
$attr1: background-origin
$attr2: background-attachment
$attr3: background-clip
$attr4: padding

.third-block
  $width: 1000px
  width: $width/2
  width: round(1.5)/2
  height: (500px/2)
  margin-left: 5px + 8px/2px
  font: (italic bold 10px/8px)
  $font-size: 12px
  $line-height: 30px
  font: #{$font-size} / #{$line-height}
  color: opacify($translucent-red, 0.45)
  background-color: transparentize($translucent-red, 0.2)
  //For IE-web browser color filtering as: $AABBCCDD:
  background: linear-gradient(to bottom, #{ie-hex-str(yellow)} 0%, #{ie-hex-str($translucent-red)} 100%)
  
  .#{$class-name}
    #{$attr1}: content-box
    #{$attr2}: fixed
    #{$attr3}: content-box
    #{$attr4}-top: 30px
    #{$attr4}-bottom: 20px

=does-parent-exist
  @if &
    &:hover
      color: $red-color
  @else
    a
      color: $red-color

.fourth-block
  +does-parent-exist
  content: $content_B

@media #{$media} and (#{$feature}: #{$value}) 
  .sidebar
    width: 600px
    height: 500px
    border: 2px double $section-border

//Testing extends:
.error
  border: 1px dotted $firefox-back
  background-color: $red-color

.attention
  font-size: 3em
  background-color: $section-border

.seriousError
  @extend .error, .attention
  border-width: 3px

//Chaining extends:
.errorBlock
  width: 100vw
  height: 100vh
  text-align: center
  display: flex
  align-items: center
  flex-wrap: wrap

.mainError
  width: 35%
  height: 20%
  border: 2px dotted $main-error-border

.criticalError
  @extend .mainError
  background-color: $red-color
  color: $error-color

.fatalError
  @extend .criticalError
  font-size: 30px
  text-transform: uppercase

#context a%extreme
  color: $section-border
  font-weight: bold
  font-size: 2em

.notice
  @extend %extreme !optional
  text-wrap: initial
  line-height: 2em
  font-size: 21px

@media print 
  .page
    width: 10vh
    height: 50vw
    .sub-page
      border-radius: 30%
      @at-root (without: media)
        color: $section-border

@debug 10em - 5em

.location-area
  +adjust-location(34px, 50px)
  $location-padding: 5px
  margin: if($location-padding > 10, 5px, 10px)

$car: Renault
.cars-select
  @if $car == Ford
    background-color: $ford-color
  @else if $car == Porsche
    background-color: $porsche-color
  @else if $car == Mercedes
    background-color: $mercedes-color
  @else 
    background-color: $renault-color

@for $i from 1 through 3
  .user-disabled-#{$i}
    &::before
      content: 'ID: #{$i}'
    padding: 10px 0
    margin: 2px 0
    text-align: left

@for $item from 25 to 28
  .e-item-#{$item}
    margin-left: #{$item}px

@each $flower in Anemon, Mandevilla, Freesia, Hebe, Rose, Peony, Begonia
  .#{$flower}
    &::after
      content: #{$flower}

//Using maps as a lists with value for each statement:
@each $header, $size in (h2: 4em, h4: 3em, h5: 2em, h6: 1em)
  #{$header}
    font-size: $size

//Using while statement for creating more complicable contstructions:
$index: 3
$color-status: $status-color-1 
@while $index > 0
  @if $index == 1
    $color-status: $status-color-3
  @else 
    $color-status: $status-color-2
  $index: $index - 1
  .rocket-status-#{$index}
    background-color: $color-status

$color-values: #ff0000, #00ff00, #0000ff
$color-map: (text: #00ff00, background: #0000ff, border: #ff0000)

.mixin-class-test
  +sexy-border(blue)
  +colors($color-values...)

.mixin-class-test-2
  +sexy-border(orange, 3em)
  +colors($color-map...)

$margin-top-side: 5px
$margin-bottom-side: 8px
$margin-horizontal-sides: 4px
.special-side-block
  +margin-sides
    padding-top: $margin-top-side
    padding-bottom: $margin-bottom-side
    padding-left: $margin-horizontal-sides
    padding-right: $margin-horizontal-sides

$grid-width: 100px
$gutter-width: 20px

@function grid-width-func($a, $b, $c) 
  $answ: $a / ( $b * $c ) + ( $grid-width - $a * $gutter-width )
  @return $answ

.custom-function 
  width: grid-width-func(80, 40, 30)
    


